body{
	background: #f6f6f6;
}
.container{
	width: 1140px;
	margin: 0 auto;

}
h2{
	font-size: 18px;
	font-weight: medium;
	margin: 0 0 0 0;
}
p{
	margin: 0;
}

.line{
	height: 1px;
	background: #E67E22;
}
.navbar{
	margin: 0;
	border-radius: 0
	border:none;
}
.navbar-default{
	background: #E4E6E7;
	color: black;
}
.tren{
	display: flex;
	justify-content: flex-start;
	margin-top: 100px;
	
}

.map{
	width: 500px;
	height: 600px;
	background: #999;
	margin-bottom: 40px;
	margin-right: 64px;
}
.info{
	margin-top: 16px;
}
.tren .line{
width: 100%;
margin-bottom: 40px;
}
h1{
	font-size: 36px;
	font-weight: bold;
	margin: 0;
}
.tren .Hanoi, .HCM{
	display: flex;
}
.Hanoi div{
	margin-top:  8px;
	width: 160px;
}
.HCM div{
	margin-top:  8px;
	width: 160px;
}
.Hanoi{
	margin-bottom: 24px;
}
.HCM{
	margin-bottom: 40px;
}
.tren img{
	height: 40px;
	margin: 16px 16px 0 0;
}
.duoi{
	margin-top: 40px;
}

.footer{
	/*height: 394px;*/
	width: 100%;
	background: #2C3E50;
	margin-top: 40px;
}
.footer-info{
	display: flex;
	justify-content: space-between;
	margin: 40px 0;
	color: #fff;
}
.footer-info h3{
	font-size: 20px;
}
.footer-info h4{
	font-size: 18px;
	font-weight: normal;
}
.footer-info a p{
	color: #fff;
}
.copyright{
	padding: 24px 0;
	border-top: 1px solid #666;
	display: flex;
	justify-content: space-between;
}
.copyright p{
	color: #fff;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.fade.show {
    opacity: 1;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}
.fade {
    opacity: 0;
    transition: opacity 0.15s linear;
}
.modal-header{
	border: none;
	padding: 33px;
}
.modal-dialog {
	margin-top: 40px;
}
.modal-header .close{
	margin-top: -14px;
	right: 10px;
}

.inputduoi.name{
	border-bottom: 1px solid rgba(204, 204, 204, 0.74);
	margin-bottom: 5px;
	
}

.inputduoi{
	position: relative;
}
.name input{
	color: #aaa;
}
.form-group .error{
	display: none
}
 .form-group input{
	border: none;
	transition: 0.7s;
	outline: none;
	/* width: 100%; */
	padding: 10px;
	background: none;
} 


.form-group input:focus{ 
	transition: 0.7s; transition; 
}

#fullname-error {
    opacity: 0;
    visibility: hidden;
    margin-bottom: 6px;
}

button{
	border: 2px solid  #E67E22;
	background: none;
	padding: 16px 24px;
	border-radius: 4px;
	color: #E67E22;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	transition: 0.3s;
	margin-top: 16px;
}
button:hover{
	background: #E67E22;
	color: #fff;


}
.bottom-signup{
	padding: 0 32px 40px;
	font-size: 18px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
input {
    width: 100%;
    background: #fff;
    border: none;
    transition: 0.7s;
    outline: none;
    height: 33px;
    color: white;
}
textarea {
    width: 100%;
    background: #fff;
    border: none;
    transition: 0.7s;
    outline: none;
    height: 33px;
    color: white;
}
.signup .khoi-modal1 input {
    background: #fff;
    height: 50px;
    font-size: 16px;
    color: #555;
    line-height: 1.2rem;
    padding: 0 px;
}
.signup .khoi-modal1 textarea {
    background: #fff;
    height: 50px;
    font-size: 16px;
    color: #555;
    line-height: 1.2rem;
    padding: 0 px;
}
input:focus {
    transition: 0.7s;
}

input:focus + .inputborder {
    width: 100%;
}

textarea:focus {
    transition: 0.7s;
}

textarea:focus + .inputborder {
    width: 100%;
}


.inputborder {
    position: absolute;
    width: 0;
    height: 1px;
    background: #E67E22;
    transition: 0.7s;
}

.inputduoi {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
}

.inputduoi.email {
    border-bottom: 1px solid rgba(0, 0, 0, 0.74);
}
.duoi{
	margin-left: -15px;
}