.choose{
	width:100%;
	display: flex;
	justify-content: space-between;
}

.check-top{
	width: 821px;
	margin:80px auto;
}
.process-no{
	display: flex;
	justify-content: flex-start;
}
.number.one{
	color: #fff;
	width: 45px;
	height: 45px;
	border-radius: 2px;
	border: 2px solid #E67E22;
	background: #E67E22;
}
.number.two{
	color: #fff;
	width: 45px;
	height: 45px;
	border-radius: 2px;
	border: 2px solid #E67E22;
	background: #E67E22;
}
.number.three{
	color: #E67E22;
	width: 45px;
	height: 45px;
	border-radius: 2px;
	border: 2px solid #E67E22;
	background: none;
	font-size: 24px;
}
.connect.two{
	/*background: #aaa;*/
	width: 340px;
}
.step{
	display: flex;
	justify-content: space-between;
}
.connect{
	height: 2px;
	width: 320px;
	background: #E67E22;
	margin-top: 22px;

}
.step{
	margin-top: 28px;
	font-size: 24px;
}
p.first{
	font-size: 18px;
	color: #E67E22;
}
p.second{
	font-size: 18px;
	color: #E67E22;
}
p.third{
	font-size: 24px;
	color: #E67E22;
}
/*LEFT******************************/
h4.pay-title{
	margin-bottom: 34px;
}
.checkbox label{
	margin-bottom: 44px;
}
.checkbox span{
	margin-left: 24px;
	font-size: 18px;
}
input.box{
	border: 1px solid #E67E22;
}
/*Form************************/
.choose-right{
	width: 500px;
}
.signup-box{
	margin-bottom: 48px;
}
.inputduoi.name{
	border-bottom: 1px solid rgba(204, 204, 204, 0.74);
	margin-bottom: 5px;
	width: 500px;
}

.inputduoi{
	position: relative;
}
.name input{
	color: #E67E22;
}
.form-group .error{
	display: none
}
 .form-group input{
	border: none;
	transition: 0.7s;
	outline: none;
	/* width: 100%; */
	padding: 10px;
	background: none;
} 
/*input#fullname:focus + .inputborder , input#fullname:valid + .inputborder{
	opacity: 1;
}
input#fullname:focus + .inputborder + label , input#fullname:valid + .inputborder + label  { 
    top: -17px;
    left: 0;
    font-size: 16px;
    color: #E67E22;


}*/
/*cái dòng này có nghĩa là khi ta forcus vào trong input và input phải đúng (không được bỏ trống) thì nó sẽ thực hiện các dòng css ở dưới*/
/*cái dấu + là viêt cho cái thằng ngang hàng với nó
vidu e focus vào thăng input muốn nó tác động lên thằng  class="inputborder" thì viết input#fullname:focus + .inputborder{...}

còn e  focus vào thằng input muốn nó tác động lên thằng label thì e phải input#fullname:focus + .inputborder + label
nghĩa là phải + qua thằng .inputborder nữa rồi mới + đến thằng label không được  bỏ qua thằng .inputborder
input#fullname:focus + .inputborder cái này là viết css cho thằng .inputborder còn muốn viết cho thằng label thì phải cộng qua thằng 
.inputborder 
*/
/*vd e xóa dòng input#fullname:valid + .inputborder + label*/
/*thì khi e bỏ focus thì cái chữ nó sẽ trùng vào chữ fullname*/
/*tiếp nhé cái dòng input#fullname:valid để khi mình nhập đúng thì nó sẽ ở trên không xuống nữa 
cai :valid nó hoạt động kiểu như kiểm tra cái require trong html nếu không đúng nó sẽ báo sai
:valid thì trong input html phải có require mới kiểm tra được 2 cái đó đi đôi với nhau*/

.form-group input:focus{ /*cai dong nay e da hiểu chưa cái này là viết cho khi mình focus vào cái input thì nó sẽ kích hoạt cái css transition*/
	transition: 0.7s; transition /*là để cho thời gian chuyển động*/
}



.inputborder{/* chi thế này thôi*/
	position: absolute;
	width: 100%;
	height: 1px;
	background: #000;
	transition: 0.7s;
	opacity: 0;
}
.name label{
	position: absolute;
	top: 6px;
	left: 5px;
	/*font-family: 'Montserrat', sans-serif;*/
	transition: 0.5s all;
	color:#aaa;
	pointer-events: none;
	font-size: 18px;
	font-weight: normal;
}
label{
	display: inline-block;
	margin-bottom: .5rem;
}
/*.name input:focus .inputborder label{
	top: -20px;
	font-size: 15px;
	left: 0;
	opacity: 1;
}*/
#fullname-error {
    opacity: 0;
    visibility: hidden;
    margin-bottom: 6px;
  }

/*EMAIL**********************/

input#emailsign:focus + .inputborder + label , input#emailsign:valid + .inputborder + label  { 
    top: -17px;
    left: 0;
    font-size: 16px;
    color: #000;


}
input#email:focus + .inputborder , input#email:valid + .inputborder{
	opacity: 1;
}
/*USERNAME*********************************/
input#username:focus + .inputborder + label , input#username:valid + .inputborder + label  { 
    top: -17px;
    left: 0;
    font-size: 16px;
    color: #000;


}
input#username:focus + .inputborder , input#username:valid + .inputborder{
	opacity: 1;
}
/*PASSWORD**********************/

input#password:focus + .inputborder + label , input#password:valid + .inputborder + label  { 
    top: -17px;
    left: 0;
    font-size: 16px;
    color: #000;


}
input#password:focus + .inputborder , input#password:valid + .inputborder{
	opacity: 1;
}
/*PASSWORD1**********************/

input#password1:focus + .inputborder + label , input#password1:valid + .inputborder + label  { 
    top: -17px;
    left: 0;
    font-size: 16px;
    color: #000;


}
input#password1:focus + .inputborder , input#password1:valid + .inputborder{
	opacity: 1;
}

.inline{
	display: flex;
	justify-content: space-between;

}


/*SEPERATOR***************************************/
.pay-seperator{
	height:2px;
	width: 100%;
	background: #dcdcdc;
	margin-bottom: 36px;


}

/*SHIPPING****************************************/
/*LEFT*********************/
h4.ship-title{
	font-size: 18px;
	margin-bottom: 34px;
}
/*RIGHT****************************/
.ship-method{
	display: flex;
	justify-content: space-between;
}
.cart-sum{
	width:500px;
	margin-bottom:60px;
}
/*.subtotal{
	margin-bottom:28px;
}*/
.cart-sum h4{
	font-weight: normal;
	font-size: 18px;
	margin-bottom: 16px;
}
.cart-sum p{
	margin: 0 0 4px 42px;
	color: #E67E22;
	font-size: 18px
}
.cart-sum span{
	font-size: 16px;
}
.cart-sum .underline{
	width:100%;
	height: 1px;
	background: #000;
	margin-bottom: 28px;
}
.total h4{
	font-weight: bold;

}
.btn.checkout{
	padding: 40px 0;

}
.btn.checkout button{
	width:500px;
  padding: 12px 70px;
  border-color:  #E67E22;
  border-radius:4px;
  background:none;
  border:2px solid;
 /*display:flex;
	justify-content: space-between;*/
	font-size: 24px;
	color: #E67E22;
	margin-left: 0;
	text-transform: uppercase;
}
/*p.purc{
	font-size: 24px;
	color: #E67E22;
	margin-left: 0;
	text-transform: uppercase;
}*/
.btn.checkout button:hover{
	background: #E67E22;
	color: #fff;
	  border-color:  #E67E22;
	/*transition: 0.5s;*/
	/*font-weight: bold;*/
}

/*OVERVIEW****************************************/
.middle{
	display: flex;
	justify-content: space-between;
}
.address-left{
	width: 528px;
	height: 266px;
}
thead{
	border: 1px solid #000;
}
.table thead tr th{
	border-bottom: 1px solid #000;
	padding-left: 24px;
}
tbody{
	border: 1px solid #000;
	/*padding-top: 24px;*/
}
.table tbody tr td {
	border-top: none;
	padding: 0 0 20px 24px;

}


.pay-right{
	width: 528px;
	height: 266px;
}
th.bo-right{
	border-right: 1px solid #000;
	padding-left: 24px;
	font-weight: normal;
}
th.quan{
	width: 50px;
	font-weight: bold;

}
th.item{
	width: 450px;
	font-weight: bold;
}
th.price{
	width: 300px;
	font-weight: bold;
}
th.sku{
	width: 200px;
	font-weight: bold;
}
.table tbody tr th{
	/*padding-left: 24px;*/
	border: 1px solid #000;
	padding: 12px 0 12px 24px;
}
/*TOTAL**********************************/
.bottom-sum{
	border:  1px solid #000;
}
/*BUTTON*************************************/
.choose-button{
	display: flex;
	justify-content: space-between;
	margin: 64px 0 100px;
}
button.pay-but{
	border: 2px solid #E67E22;
	padding: 14px 100px;
	background: none;
	text-transform: uppercase;
	color: #E67E22;
	font-weight: bold;
	font-size: 24px;
}
button.pay-but:hover{
	background: #E67E22;
	color:#fff;
	border: 2px solid #E67E22;
}





