body{
	background: #f6f6f6;
}

/*MAIN*************************/
.trend {
	width: 100%;
}
.tittle {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	margin-top: 24px;
	border-bottom: 1px solid #dcdcdc;
}
.trendy-img{
	display: flex;
	justify-content: space-between;
}
.carol-img-detail img{
	margin: 26px 40px 14px 40px;
}
.tutorial {
	width: 100%;
	height: 780px;
}
/*.tutor-photo{
	margin-top: 24px;
}*/
.tutor-photo{
	width:100%;
	
}
.tutor-detail{
	display: flex;
	justify-content: space-between;
	width:342.63px;
}
.tutor-detail .photo img{
	margin-top: 24px;
	width:342.63px;
	height: 257.58px;
}
.tutor-detail .photo-info h4{
	font-size:18px;
}
.footer{
	/*height: 394px;*/
	width: 100%;
	background: #2C3E50;
	margin-top: 40px;
}
.footer-info{
	display: flex;
	justify-content: space-between;
	margin: 40px 0;
	color: #fff;
}
.footer-info h3{
	font-size: 20px;
}
.footer-info h4{
	font-size: 18px;
	font-weight: normal;
}
.footer-info a p{
	color: #fff;
}
.copyright{
	padding: 24px 0;
	border-top: 1px solid #666;
	display: flex;
	justify-content: space-between;
}
.copyright p{
	color: #fff;
}
/*MODAL********************/
.modal-content{
	width: 600px;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.fade.show {
    opacity: 1;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}
.fade {
    opacity: 0;
    transition: opacity 0.15s linear;
}
.modal-header{
	border: none;
	padding: 33px;
}
.modal-dialog {
	margin-top: 40px;
}
.modal-header .close{
	margin-top: -14px;
	right: 10px;
}
/*FORM************************/
.form-box{
	padding: 40px 32px 50px;
}
.form-box h1{
	font-size: 36px;
	color: #E67E22;
}
.inputduoi.name{
	border-bottom: 1px solid rgba(204, 204, 204, 0.74);
	margin-bottom: 5px;
	width: 507px;
}

.inputduoi{
	position: relative;
}
.name input{
	color: #aaa;
}
.form-group .error{
	display: none
}
 .form-group input{
	border: none;
	transition: 0.7s;
	outline: none;
	/* width: 100%; */
	padding: 10px;
	background: none;
} 
.email-signup{
	/*margin-top: 50px;*/
}
input#fullname:focus + .inputborder , input#fullname:valid + .inputborder{
	opacity: 1;
}
input#fullname:focus + .inputborder + label , input#fullname:valid + .inputborder + label  { 
    top: -17px;
    left: 0;
    font-size: 16px;
    color: #E67E22;


}
/*cái dòng này có nghĩa là khi ta forcus vào trong input và input phải đúng (không được bỏ trống) thì nó sẽ thực hiện các dòng css ở dưới*/
/*cái dấu + là viêt cho cái thằng ngang hàng với nó
vidu e focus vào thăng input muốn nó tác động lên thằng  class="inputborder" thì viết input#fullname:focus + .inputborder{...}

còn e  focus vào thằng input muốn nó tác động lên thằng label thì e phải input#fullname:focus + .inputborder + label
nghĩa là phải + qua thằng .inputborder nữa rồi mới + đến thằng label không được  bỏ qua thằng .inputborder
input#fullname:focus + .inputborder cái này là viết css cho thằng .inputborder còn muốn viết cho thằng label thì phải cộng qua thằng 
.inputborder 
*/
/*vd e xóa dòng input#fullname:valid + .inputborder + label*/
/*thì khi e bỏ focus thì cái chữ nó sẽ trùng vào chữ fullname*/
/*tiếp nhé cái dòng input#fullname:valid để khi mình nhập đúng thì nó sẽ ở trên không xuống nữa 
cai :valid nó hoạt động kiểu như kiểm tra cái require trong html nếu không đúng nó sẽ báo sai
:valid thì trong input html phải có require mới kiểm tra được 2 cái đó đi đôi với nhau*/

.form-group input:focus{ /*cai dong nay e da hiểu chưa cái này là viết cho khi mình focus vào cái input thì nó sẽ kích hoạt cái css transition*/
	transition: 0.7s; transition /*là để cho thời gian chuyển động*/
}



.inputborder{/* chi thế này thôi*/
	position: absolute;
	width: 100%;
	height: 2px;
	background: #E67E22;
	transition: 0.7s;
	opacity: 0;
}
.name label{
	position: absolute;
	top: 6px;
	left: 5px;
	/*font-family: 'Montserrat', sans-serif;*/
	transition: 0.5s all;
	color:#aaa;
	pointer-events: none;
	font-size: 18px;
}
label{
	display: inline-block;
	margin-bottom: .5rem;
}
/*.name input:focus .inputborder label{
	top: -20px;
	font-size: 15px;
	left: 0;
	opacity: 1;
}*/
#fullname-error {
    opacity: 0;
    visibility: hidden;
    margin-bottom: 6px;
  }

/*EMAIL**********************/

input#emailsign:focus + .inputborder + label , input#emailsign:valid + .inputborder + label  { 
    top: -17px;
    left: 0;
    font-size: 16px;
    color: #E67E22;


}
input#email:focus + .inputborder , input#email:valid + .inputborder{
	opacity: 1;
}

/*PASSWORD**********************/

input#password:focus + .inputborder + label , input#password:valid + .inputborder + label  { 
    top: -17px;
    left: 0;
    font-size: 16px;
    color: #E67E22;


}
input#password:focus + .inputborder , input#password:valid + .inputborder{
	opacity: 1;
}
/*PASSWORD1**********************/

.btn.sign-button{
	border: 2px solid #E67E22;
	background: none;
	margin-top: 15px;
}
.sign-button p{
	font-size: 18px;
	padding: 16px 215px;
	text-transform: uppercase;
	margin: -10px;
	color: #E67E22;
}
.signup{
	width: 502px;
}

.sign-icon button{
	border-radius: 4px;
	background: #2C3E50;
	border: 2px solid #2C3E50;
	margin-bottom: 24px;
	width: 512px;

}
.sign-icon button .icon-button{ 
	display: inline-flex;
	/*justify-content: space-around;*/
	padding: 1px 166px;

	
}

.sign-icon button .icon-button p{
	font-size: 26px;
	color: #fff;
	margin-top: 4px;

}

.sign-icon button .icon-button img{

	margin-top: 10px;
    margin-right: 20px;
}
.or{
	display: flex;
	justify-content: space-between;
	margin-top: 16px;
}
.or .inline-line{
	height: 2px;
	width: 161px;
	background:  #757B80;
	margin-top: 31px;

}
.sign-icon button:hover{
	background: none;
	color: #757B80;
}

.sign-icon button:hover .icon-button p{
	color: #757B80;
}

/*.sign-icon button:hover .icon-button img{
	background: #757B80;
}*/
/*CAROUSEL BUTTOn******************************/
.carousel-control.left {
     background-image: none;
    background-image: none;
     background-image: none;
     background-image: none;
    filter: none;
     /*background-repeat: repeat-x; */
}
.carousel-control.right {
 background-image: none;
    background-image: none;
     background-image: none;
     background-image: none;
    filter: none;
     /*background-repeat: repeat-x; */}
/*SLIDE*********************************************/

.range ul.slick-dots li button {
		border-radius: 50%;
		width: 15px;
		height: 15px;
		background: #dcdcdc;
		text-indent: 99999px;
		margin-right: 20px;
		outline: none;
		border: none;
	}

	.range ul.slick-dots li.slick-active button {
		background: #E67E22;
	}

	.range ul.slick-dots {
		list-style: none;
		display: flex;
		justify-content: center;
	}
.next-slick2 {
		width: 25px;
		height: 25px;
		position: absolute;
		top: 47%;
		right: -2%;
		display: flex;
		justify-content: center;
		align-items: center;
		/*background: none;*/
		border-radius:50%;
		border: none;
		background: #acacac;
		color: #fff;
	}
	.prev-slick2{
		width: 25px;
		height: 25px;
		position: absolute;
		top: 47%;
		left: -2%;
		display: flex;
		justify-content: center;
		align-items: center;
		/*background: none;*/
		border-radius:50%;
		border: none;
		background: #acacac;
		color: #fff;
	}
	.folow-icon {
		display: flex;
		justify-content: space-between;
	}

.dropbtn {
    background-color: #f6f6f6;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
/* The search field */
#myInput {
  border-box: box-sizing;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
  min-width: 400px;
    background-color: #f6f6f6;

}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #f49200;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;  
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 400px;
    border: 1px solid #f49200;
    z-index: 1;
    transform: translateX(-340px);
}
.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}